/**
 * TM Framework - Base Styles
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.tm-component,
.tm-component * {
  box-sizing: border-box;
  font-family: var(--tm-font);
}
.tm-component {
  line-height: 1.5;
}
